@charset "UTF-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
	color:#666;
	font-size: 14px;
}
body {
	background: #eee;
}
body, div, ul, li, img{
	list-style: none;
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:top;
}
.topnav {
	min-height: 50px;
	background: #000;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	display: block;
	position: fixed;
	width: 100%;
	top:0px;
}
.topnav ul {
 padding: 0px 25px; font-weight:100px;font-size:24px;color:#fff;
}
.leftnav {
	width: 16%;
	background: #fff;
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	display: block;
	color: #000;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
	overflow-x: hidden;
	overflow-y: auto;
}
.leftnav ul {
	display: block;
	overflow-y: auto;
	margin-top: 35px;
	border-top: 1px solid #eee
}
.leftnav li {
	line-height: 40px;
	font-size: 16px;
}
.leftnav .active {background:#FDAC23; color: #fff}

.leftnav li a.a01{ text-decoration: none;color:#FDAC23;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i01.png) no-repeat 25px;}
.leftnav li a.a01:hover{background:url(../images/i01.png) no-repeat 25px;background-color:#eee;line-height: 40px;}
.leftnav li a.a02{ text-decoration: none;color:#FDAC23;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i02.png) no-repeat 25px;}
.leftnav li a.a02:hover{background:url(../images/i02.png) no-repeat 25px;background-color:#eee;line-height: 40px;}
.leftnav li a.a03{ text-decoration: none;color:#FDAC23;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i03.png) no-repeat 25px;}
.leftnav li a.a03:hover{background:url(../images/i03.png) no-repeat 25px;background-color:#eee;line-height: 40px;}

.leftnav .active a.a01{ text-decoration: none;color:#fff;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i01_.png) no-repeat 25px;}
.leftnav .active a.a01:hover{background:url(../images/i01_.png) no-repeat 25px;line-height: 40px;}


.leftnav .active a.a02{ text-decoration: none;color:#fff;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i02_.png) no-repeat 25px;}
.leftnav .active a.a02:hover{background:url(../images/i02_.png) no-repeat 25px;line-height: 40px;}

.leftnav .active a.a03{ text-decoration: none;color:#fff;padding-left:55px;font-size: 16px;position: relative;display: block;background:url(../images/i03_.png) no-repeat 25px;}
.leftnav .active a.a03:hover{background:url(../images/i03_.png) no-repeat 25px;line-height: 40px;}


.rightbody {
	width: 84%;
	background: #F1DDBD;
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 16%;
	display: block;
	color: #000;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
	overflow-x: hidden;
	overflow-y: auto;
}
.rightbody .box {
	background: #fff;
	margin: 25px;
	padding: 25px;
	width: auto;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	display: block;
	overflow-y: auto;
	min-heigh:400px;
}
.rightbody .box ul {

	display: block;
	overflow-y: auto;
	margin-bottom:10px;
}
.rightbody .box li {
	float: left;
	line-height: 34px;
}
.rightbody .box .li_left {
	width: 15%;
	float: left;
	text-align: right;
	padding-right: 20px;
}
.rightbody .box .li_right {
	width: 80%;
	float: left;
	display:block;
	padding:0px;
	margin:0px;
}
.rightbody .box .li_right .savebtn {
	background:#f68b1f;
	font-size:30px;
	text-decoration:none;
	color:#fff;
	padding:20px 60px;
	cursor:pointer;
	border:0px;
	
}
.rightbody input, select {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 30px;
	
}
.rightbody input[type="radio"]{
background:#000;
padding:3px;
}
.rightbody input:focus {
	border-color: #FDAC23;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,141,0,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,141,0,.6)
}
.rightbody .box .inputw500 {
	width: 500px;line-height:40px;
	height:40px;
}
.rightbody .box .inputw200 {
	width: 200px;
	line-height:40px;
	height:40px;
	margin-right:10px;
}
.rightbody .box .list {
	border: 1px solid #eee;
	min-height: 360px;
	border-radius: 4px;
	padding:20px;
	margin:0px;
}

.rightbody .box .rightanswerbar {
	width: 120px;
	overflow-x: hidden;
	position:relative;
}
.rightbody .box .rightanswerbar ul {
	clear: both;
	width: 100%;
	display: block;
	overflow-y: auto;
	padding: 0px;
	margin: 0px;
}
.rightbody .box .rightanswerbar li {
	width: 95%;
	padding: 0px;
	margin: 5px 0px;
	line-height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	background:#fff;
	cursor:pointer;
	
}

/*问题列表*/
.qcss {
	width: auto;
	background: #eee;
	border-radius: 4px;
	display: block;
	margin: 20px;
	padding: 0px 10px;
}
.qcss .atcss {
	padding: 0px;
	margin: 0px;
	display: block;
	min-height: 33px;
	width:100%;
}
.qcss .atcss .left {
	width: 75%;
	float: left;
	text-align: left;
}
.qcss .atcss .right {
	text-align: right;
	width: 25%;
	float: left;
	
}
.qcss .atline {
	border-bottom: 1px solid #ccc;
	padding: 0px;
	margin: 0px;
	display: block;
	font-size: 14px;
	width:100%;
}
.qcss .atline ul{clear:none; margin:0px; padding:0}
.qcss .atline .left {
	width: 75%;
	float: left;
}
.qcss .atline .right {
	text-align:right;
	width: 25%;
	float: left;
}
.qcss .input{ height:20px;
	border:1px solid #eee; background:#eee;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-webkit-transition: border-color ease-in-out 0s, -webkit-box-shadow ease-in-out 0s;
	-o-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
	transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;}
.qcss .input1 {
	border: 0px;
	background: #eee;
	font-size: 14px;
}
.qcss .input2 {
	border: 1px solid #999;
	font-size: 14px;
	background: #FFC;
}
.qcss .input3 {
	background: #FFC;
	font-size: 14px;
	border: 0px;
}
.qcss img {
	cursor: pointer;
	padding:0px;
	margin:0px;
	border:0px;
}
/*任务列表*/
.rightbody .box .listtable{background:#FDAC23; text-align:center}
.rightbody .box .listtable .trhover{background:#fff; height:40px;cursor:pointer;}
.rightbody .box .listtable .tractive{background:#f1f1f1; height:40px;cursor:pointer;}

.rightbody .box .listtable .t1{background:#FDAC23;color:#fff; height:40px; font-size:16px;padding-left:0px;}
.rightbody .box .listtable .t2 {padding:10px 0px;}
.rightbody .box .listtable .t2 div{ margin:2px 5px 2px 15px}
.rightbody .box .ztitle{border-bottom:1px solid #999; padding-bottom:5px;font-size:18px; color:#666}
.rightbody .box .questiontitle{padding-left:50px;}
.rightbody .listtitle {padding:5px 50px; min-height:40px; color:#594931}
.rightbody .listtitle  li{float:left; font-size:32px;line-height:55px;}
.rightbody .listtitle .name{width:80%;color:#594931}
.rightbody .listtitle .pushbtn{margin-top:15px;cursor:pointer;border-radius:4px;width:20%;display:block; overflow:auto; line-height:40px; text-align:center;color:#fff; font-size:16px; background:#FDAC23}
.rightbody .listtitle .pushbtn a{color:#fff; text-decoration:none; border-radius:4px;padding:8px 20px;}
/*审核页*/
.datalist{background:#ccc; width:100%;height:40px;}
.datalist td{text-align:center}
.lititle{background:#eee;}
.datatd{padding:0px 5px; height:35px; color:#666;text-align:center;background#dcdcdc}
.datatd .examinebtn1{ border:1px solid #ccc; background:#fff; font-size:14px; padding:3px 10px; margin:5px 0px; cursor:pointer}
.datatd .examinebtn2{ border:0px; background:#f68b1f; color:#fff; font-size:14px; padding:3px 10px; margin:5px 0px; cursor:pointer}
.datatr1{background:#fff; cursor:pointer;height:30px;}
.datatr2{background:#eee; cursor:pointer}
#checkOk{background:#f68b1f;
  	font-size:30px;
  	text-decoration:none;
  	color:#fff;
  	padding:20px 60px;
  	cursor:pointer;
  	border:0px;
        margin-right: 25px;
        margin-top: 25px;}
#checkNo{background:#ff5400;
  	font-size:30px;
  	text-decoration:none;
  	color:#fff;
  	padding:20px 60px;
  	cursor:pointer;
  	border:0px;
        margin-right: 25px;
        margin-top: 25px;}
/*分页样式margin-right:8px;padding:5px 15px;cursor:pointer;border-radius:4px;background:#FDAC23;color:#fff;border:1px solid #FDAC23;width:50px;*/

.page{margin:20px 0px 5px 0px; line-height:30px;}
.page li{float:left;}

.page .pagemouseover{padding:0px 18px;background:#fff;color:#333;border:1px solid #FDAC23;border-radius:4px;cursor:pointer;margin-right:8px;line-height:30px;}
.page .pagemouseout{padding:0px 18px;background:#FDAC23;color:#fff;border:1px solid #FDAC23;border-radius:4px;cursor:pointer;margin-right:8px;line-height:30px;}

.tipsbox{color:#fff;text-align:center;line-height:35px;font-size:16px;}



.rightbody .boxs {
	background: #fff;
	margin: 25px;
	padding: 25px;
	width: auto;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	display: block;
	overflow-y: auto;
	min-heigh:400px;
}
.rightbody .boxs ul{font-size:16px;margin-bottom:20px;height:auto; display:block;overflow:auto;}
.rightbody .boxs ul li{line-height:30px;}
.rightbody .boxs ul .leftli{float:left;width:8%; text-align:left;padding-right:10px;font-size:16px;}
.rightbody .boxs ul .rightli{float:left;width:80%}
.rightbody .boxs ul .rightli1{float:left;width:15%}
.rightbody .boxs ul .rightli2{float:left;width:10%}
.rightbody .boxs ul .rightli3{float:left;width:13%}

.rightbody .boxs ul .leftli1{float:left;width:18%; text-align:right;padding-right:10px;font-size:14px;}
.rightbody .boxs ul .leftli1 .typetitle{text-align:center;font-size:16px;}
.rightbody .boxs ul .leftli1 .typebox{border:1px solid #ccc;color:#666; padding:10px 25px;margin:20px;text-align:center;cursor: pointer;}
.rightbody .boxs ul .leftli1 .typeboxover{border:1px solid #FDAC23;color:#FDAC23; padding:10px 25px;margin:20px;text-align:center;cursor: pointer;}

.rightbody .boxs ul .leftli1 .typeboxtemp{border:1px solid #ccc;color:#666; padding:5px;margin:5px 5px 20px 5px;text-align:left;cursor: pointer;}
.rightbody .boxs ul .leftli1 .typeboxtemp_active{border:1px solid #FDAC23;color:#FDAC23; padding:5px;margin:5px 5px 20px 5px;text-align:left;cursor: pointer;}

.rightbody .boxs ul .rightli0{float:left;width:75%;background:#eee; border-radius:4px;padding:20px;min-height:350px;}
.rightbody .boxs ul .libtn{cursor: pointer;background:#FDAC23; border-radius:4px;color:#fff;font-size:18px; margin:40px 40px 40px 0px;float:left;padding:20px 50px;}
.rightbody .boxs .inputw500{width:500px;}
.rightbody .boxs .inputw200{width:200px;}
.rightbody .boxs .inputw100{width:100px;}
.rightbody .boxs .tips{font-size:14px; color:#ccc;}
.rightbody .boxs .ulline{text-align:center;  line-height:150px;;}
.rightbody .boxs .ulline a{font-size:24px; background:#FDAC23; border-radius:4px;padding:20px 85px; color:#fff;text-decoration:none}
.rightbody .boxs .ulimg{border-radius:4px; background:#eee;padding:25px;}
.rightbody .titlename {height:auto; display:block; overflow:auto}
.rightbody .titlename li{float:left}
.rightbody .titlename .li1{padding:15px 30px 0px;font-size:32px;color:#594931;width:75%;}
.rightbody .titlename .li2{cursor: pointer;padding:10px 30px; text-align:center; color:#fff; margin:15px 15px 0px;width:10%;background:#FDAC23 none repeat scroll 0% 0%; border-radius:4px;font-size:16px;}
.rightbody .titlename .li3{padding:10px 40px; text-align:center; color:#fff; margin:15px 15px 0px;width:10%; border-radius:4px;font-size:16px;}


.rightbody .titlename ul{width:100%;clear:both}
.rightbody .titlebtn{ background:#FDAC23;border-radius:4px;}
/*发布题内容样式*/
#listQA{width:100%;display:block; overflow-y: auto;}
#listQA .qagroup{ background: #eee; margin-bottom: 50px;border-radius: 4px;}
#listQA .qagroup div{line-height:30px;}

#listQA .qagroup .num{float:left;display:inline;height:30px;margin-right: 5px}
#listQA .qagroup .QTitle{float:left;display:inline;}
#listQA .qagroup  input[type="text"]{border:0px solid #000;background-color:transparent;height:25px;border-radius: 0px;width:500px;}

#listQA .qagroup  input:focus {border:1px solid #ccc;outline: 0;background:#fff8ed;border-radius: 4px;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0), 0 0 0px rgba(0,0,0,.0);
box-shadow: inset 0 0px 0px rgba(0,0,0,.0), 0 0 8px rgba(0,0,0,.0)
}

#listQA .qagroup .input500{border:1px solid #000;background:#fff;color:#red}
#listQA .qagroup .qbox{border:1px solid #ccc;background:#fff;margin:4px;width:50%;height:28px;}
#listQA .qagroup .photobox{border:1px dotted #ccc;width:30px;heigh:30px;margin:4px;text-align:center}
#listQA .qagroup .qa{border-bottom:0px solid #ccc;height:30px;padding-left:10px;background:#fff}

#listQA .qagroup .aa{clear:both;float:none;border:1px solid #fff;overflow-y:auto;margin:0px;}
#listQA .qagroup .aa .leftul{clear:none;width:85%;float:left;font-size:14px;line-height:20px;padding:0px;padding-left:10px;margin:5px;}
#listQA .qagroup .aa .rightul{clear:none;width:10%;float:right;font-size:14px;line-height:20px;padding:0px;margin:5px;text-align:right}

#pCon {width:500px;list-style:none;}
#pCon li {height:35px;display:block;border-bottom:1px #ccc solid;}
#pCon li a{margin-left:5px;text-decoration:none;}
.no {float:left;display:inline;}
.context {float:left;display:inline;}
.control {float:right;display:inline;}
.control img {width:25px;height:30px;overflow:hidden;float:left;display:inline;}
hr {margin:30px auto;}
#pCon1 {width:100%;list-style:none;}
#pCon1 li {line-height: 30px;height:35px;display:block;border-bottom:1px #ccc solid; background: #0078ff}
#pCon1 li a{margin-left:5px;text-decoration:none;}
